
version: 2.1
##
jobs:
  create_infrastructure:
    docker:
     - image: amazon/aws-cli
    working_directory: ~/
    steps:
      - checkout
      - run:
          name: Install tar utility
          command: |
            yum install -y tar gzip
      - run:
          name: "Create Cloud Formation stack"
          command: |
              aws cloudformation deploy \
                --template-file template.yml \
                --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
                --region us-east-1
 #     - run:
 #        name: Create Default config
#         command: |
#           echo -e "[defaults]\nhost_key_checking = false" > ~/ansible.cfg
      - run:
         name: Create Inventory file
         command: |
           echo "[all]" > ~/inventory
      - run:
         name: Create Inventory file2
         command: |
           aws ec2 describe-instances \
            --query 'Reservations[*].Instances[*].PublicIpAddress' \
            --output text >> ~/inventory
      - persist_to_workspace:
          root: ~/
          paths: 
          - inventory
       
  configure_infrastructure:
    docker:
     - image: circleci/python:3.6.2
    steps:
     
     - checkout
     - attach_workspace:
         at: ~/
     - run: cat ~/inventory
     - add_ssh_keys:
         fingerprints: ["e4:28:9e:91:60:dd:7f:84:ce:9b:8f:8d:72:6f:82:30"]
     - run:
         name: Install ansible 
         command: |
             pip install ansible 
     - run: 
         name: Configure server
         command: | 
           ansible-playbook -i ~/inventory apache.yml
      
workflows:
  my_workflow:
    jobs:
      - create_infrastructure
      - configure_infrastructure:
          requires:
            - create_infrastructure

# VS Code Extension Version: 1.5.0
