
version: 2.1

jobs:
  create_infrastructure:
    docker:
     - image: amazon/aws-cli
    steps:
      - checkout
      - run:
          name: Install tar utility
          command: |
            yum install -y tar gzip
      - run:
          name: "Create Cloud Formation stack"
          command: |
              aws cloudformation deploy \
                --template-file template.yml \
                --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
                --region us-east-1
  configure_infrastructure:
    docker:
     - image: python:3.7-alpine3.11
    steps:
     - checkout
     - add_ssh_keys:
         fingerprints: ["e4:28:9e:91:60:dd:7f:84:ce:9b:8f:8d:72:6f:82:30"]
     - run:
         name: Install ansible 
         command: |
             apk add --update ansible 
             
     - run:
         name: Install ansible 
         command: |
             apk add aws-cli
   
     - run:
         name: Create Inventory file
         command: |
           echo "[all]" > inventory

    
     - run:
         name: Create Inventory file2
         command: |
           aws ec2 describe-instances \
            --query 'Reservations[*].Instances[*].PublicIpAddress' \
            --output text >> ~/inventory.txt

     - run: 
         name: Configure server
         command: | 
           ansible-playbook -i ~/inventory.txt apache.yml
      
workflows:
  my_workflow:
    jobs:
      - create_infrastructure
      - configure_infrastructure:
          requires:
            - create_infrastructure

# VS Code Extension Version: 1.5.0
